<!--<div class="tip_success_info tip_common">
    <div class="remove_header">
        <span>{{title}}</span>
        <a href="javascript:void(0)"><i ng-click="cancel()"></i></a>
    </div>
    <div class="info_container">
        &lt;!&ndash;<i class="tip_1"></i>&ndash;&gt;
        <span>{{content}}</span>
    </div>
    <div class="remove_button">
        <button class="button_sure" ng-click="ok()">是</button>
        <button class="button_sure" ng-click="cancel()">否</button>
    </div>
</div>-->

<div class="mask"></div>
<div class="mask_remove tip_common">
    <ul>
        <li class="remove_header">
            <span>{{title}}</span>
            <a href="javascript:void(0)" ng-click="cancel()"><i></i></a>
        </li>
        <li class="remove_content3">
            <b>{{content}}</b>
        </li>
        <li class="remove_button">
            <div>
                <a href="javascript:void(0)" class="button_sure" ng-click="ok()">确认</a>
                <a href="javascript:void(0)" class="button_cancel" ng-click="cancel()">取消</a>
            </div>

        </li>
    </ul>
</div>



