<div class="container-fluid index_top">
    <div class="row">
        <div class="logo fl">
            <img  class="logo1" src="images/logo1.png" alt="">
            <!--<img  class="logo2 fl" src="images/logo.png" alt=""/>-->
            <span>技术地图</span>
        </div>
        <div class="top_right fr">
            <div class="logo_p">
                <!--<img src="images/logo_p.jpg" ng-click="editTechPerson()">-->
                <img src="images/logo_p.jpg">
            </div>            
            <div class="fl logo_span">
                <span>姓名：{{loginUser.userInfo_Name}}</span>
                <span>编号：{{loginUser.userCode}}</span>
            </div>
            <span ng-click="logout()" class="fr icon_a"><i></i></span>
        </div>
    </div>
</div>