<!--信息提示-->
<div ng-hide="frameworkAlertLayer">
    <div class="mask"></div>
    <div class="tip_success_info">
        <div class="remove_header">
            <span>信息提示</span>
            <a href="javascript:void(0)"><i ng-click="closeLayer()"></i></a>
        </div>
        <div class="info_container">
            <!--<i class="tip_1"></i>-->
            <i ng-class="tip"></i>
            <span>{{message}}</span>
        </div>
        <div class="remove_button">
            <button class="button_sure" ng-click="closeLayer()">关 闭</button>
        </div>
    </div>
</div>