<div class="index_con" ng-controller="infogaterInfoPage">
    <!--用户查询-->
    <div class="index_list">
        <div class="index_tit"><h6>信息查询</h6></div>
        <ul class="list_ul list_ul_bor">
            <li><span>信息名称：</span></li>
            <li><input type="text" class="fl" ng-model="infogaterInfoQueryCondition.infoName"></li>

            <li><span>信息类型：</span></li>
            <li>
                <!--<input type="text" class="fl" ng-model="infogaterInfoQueryCondition.infoType">-->
                <div class="ui-select">
                    <code-type class="seletc_bor" base-code="infoType" ng-model='infogaterInfoQueryCondition.infoType' ng-disabled="false" is-fuzzy="true"></code-type>
                </div>
            </li>
        </ul>
        <div class="pending_btn">
            <div class="pending_btn1">

                <span class="a_search" ng-click="infogaterInfoList()">搜索</span>
                <span class="a_reset" ng-click="infogaterInfoPageReset()">重置</span>
            </div>
        </div>
    </div>
    <!--搜索结果-->
    <div class="index_list index_list_table">
        <div class="index_tit">
            <h6 class="fl">搜索结果</h6>
        </div>
        <!--<table class="table table-striped table-bordered table-hover">-->
        <table class="table">

            <th class="t_first">信息名称</th>
            <th>信息类型</th>
            <th>创建时间</th>
            <th>创建人</th>
            <th class="t_last t_last1">操作</th>

            <tr ng-repeat="d in infogaterInfoListData">
                <input type="hidden" class="fl" ng-model="d.id"/>
                <td class="t_first" ng-bind="d.infoName"></td>
                <td ng-bind="d.infoTypeName"></td>
                <td ng-bind="d.createTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
                <td ng-bind="d.createBy"></td>
                <td class="t_last">
                    <a ng-click="infogaterInfoView(d.id)">查看</a>
                    <a ng-click="infogaterInfoEdit(d.id)"> | 修改</a>
                    <a ng-click="infogaterInfoDel(d.id)"> | 删除</a>
                    <a ng-click="infogaterInfoListPage(d)"> | 版本明细</a>
                </td>
            </tr>
        </table>
        <div class="index_page">
            <tm-pagination conf="paginationConf"></tm-pagination>
        </div>

    </div>

    <!--按钮-->
    <div class="index_btn1 btn_move_left">
        <span class="creat" ng-click="infogaterInfoEdit()">新增</span>
        <span class="edit" ng-click="exit()">退 出</span>
    </div>
    <div data-ng-include ="'components/infogater/infogaterInfo/tpl/alertLayer.html'"></div>
</div>