<div class="index_con" >
    <!--用户查询-->
    <div class="index_list">
        <div class="index_tit"><h6>版本信息查询</h6></div>
        <ul class="list_ul list_ul_bor">
            <li><span>组件名称：</span></li>
            <li class="font_left">
                <span class="f1" ng-model ="master.name" >{{master.name}} </span>
            </li>

            <li><span>组件类型：</span></li>
            <li class="font_left">
                <span class="f1" ng-model ="master.typeCode" >{{master.typeName}} </span>
            </li>
        </ul>
    </div>
    <!--搜索结果-->
    <div class="index_list index_list_table">
        <div class="index_tit">
            <h6 class="fl">搜索结果</h6>
        </div>
        <!--<table class="table table-striped table-bordered table-hover">-->
        <table class="table">
            <th >组件名称</th>
            <th >版本</th>
            <th>描述</th>
            <th>备注</th>
            <th class="t_last t_last1">操作</th>

            <tr ng-repeat="d in componentList">
                <td ng-bind="master.name"/></td>
                <td ng-bind="d.version" ></td>
                <td ng-bind="d.descript"></td>
                <td ng-bind="d.remark"></td>
                <td class="t_last">
                    <a ng-click="componentView(d.id)">查看</a>
                    <a ng-click="componentEdit(d.id)"> | 修改</a>
                    <a ng-click="componentDel(d.id)"> | 删除</a>
                </td>
            </tr>
        </table>
        <div class="index_page">
            <tm-pagination conf="paginationConf"></tm-pagination>
        </div>

    </div>

    <!--按钮-->
    <div class="index_btn1 btn_move_left">
        <span class="creat" ng-click="componentEdit('')">新增</span>
        <span class="edit" ng-click="exit()">退 出</span>
    </div>
    <div data-ng-include ="'components/glean/component/tpl/alertLayer.html'"></div>
</div>