
<div style="width:98%;padding :15px 100px ">
    <div class="x_panel">
        <div class="x_content">
            <br />
            <ng-form class="form-horizontal form-label-left" name="demandschSaveFrom">

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" >需求ID</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text"class="form-control" ng-model="demandId" ng-readonly="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">进度描述</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <textarea class="form-control" ng-model="demandsch.scheduleDesc" required warn-text="{ErrPattern:'进度描述不能为空'}"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" >进度状态</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <!--<input type="text"class="form-control" ng-model="demandsch.status" required/>-->
                        <code-type class="seletc_bor" base-code="demandschStatus" ng-model='demandsch.status' required ng-disabled="false" is-fuzzy="true"warn-text="{ErrPattern:'需求状态不能为空'}"></code-type>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" >所属阿米巴</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <!--<input type="text"class="form-control" ng-model="demandsch.amoebaId"/>-->
                        <code-type  class="seletc_bor" base-code="amoebaList" ng-model='demandsch.amoebaId'  ng-disabled="false" is-fuzzy="true" warn-text="{ErrPattern:'所属阿米巴不能为空'}"></code-type>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" >填报人</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text"class="form-control" ng-model="demandsch.userCode" required warn-text="{ErrPattern:'填报人不能为空'}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" >联系电话</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text"class="form-control" ng-model="demandsch.telephone" required warn-text="{ErrPattern:'联系电话不能为空'}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" >邮箱</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text"class="form-control" ng-model="demandsch.email" required warn-text="{ErrPattern:'邮箱不能为空'}"/>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                        <button type="button" class="btn btn-primary" ng-click="exit()">取消</button>
                        <button type="submit" class="btn btn-success"  ng-disabled="saveDemandschDisableFlag" ng-click="saveDemandsch()">添加</button>
                    </div>
                </div>
                <div data-ng-include ="'components/demand/release/tpl/alertLayer.html'"></div>
            </ng-form>
        </div>
    </div>
</div>