<!--<div class="index_con" >-->
    <!--&lt;!&ndash;菜单维护&ndash;&gt;-->
    <!--<div class="index_list">-->
        <!--<div class="index_tit"><h6>菜单维护</h6></div>-->
        <!--<div class="pending_btn">-->
            <!--<div class="pending_btn1">-->
                <!--<span class="a_search" ng-click="getPermitMenusByUserId(1)">查询菜单权限</span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;按钮&ndash;&gt;-->
    <!--<div class="index_btn1 btn_move_left">-->
        <!--<span class="creat" ng-click="openParentMenu()">新增父菜单</span>-->
        <!--<span ng-click="openPermitMenuList()">菜单列表</span>-->
        <!--&lt;!&ndash;<span class="edit" ng-click="exit()">退 出</span>&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->