<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="dashboard_graph">
    <div class="row x_title">
      <div class="col-md-12">
        <h2 style="">
          <i class="fa fa-bar-chart"></i>组件概览
          <small style="cursor: pointer;color: #708090;" ng-click="clickBack()"><i class="fa fa-reply"></i>返回</small>
        </h2>
      </div>
    </div>
    <div class='col-md-9 col-sm-9 col-xs-12'>
        <div style='width:100%;height:280px'>
            <cloud-chart ng-show="showcc" data='assMultiple'></cloud-chart>
            <bar-chart ng-show="showbc" config="barConfig" data="barMultiple"></bar-chart>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
      <h2 class="line_30" style='color: #708090;'>热门组件&nbsp;&nbsp;<small>Top 7</small></h2>
      <table class="countries_list">
        <tbody>
          <tr ng-repeat='topass in Top7CloudAssData'>
            <td><a ng-click="cloudClick(topass.name)">{{topass.name}}<a></td>
            <td class="fs15 fw700 text-right">{{topass.value}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

