
<div style="width:98%;padding :15px 100px ">
    <div class="x_panel">
        <div class="x_content">
            <br />
            <ng-form class="form-horizontal form-label-left" name="toolsEditForm">

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" >工具名称</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" class="form-control" check-tool-name name="toolName" placeholder="只能输入数字、字母、中文、空格、下划线" ng-pattern="/^[a-zA-Z0-9\u0391-\uFFE5_ ]+$/" required ng-maxlength="50" ng-model="tools.toolName"/>
                        <span style="color: red" ng-show="toolsEditForm.toolName.$error.required && submitted">请填写工具名称</span>
                    	<span style="color: red" ng-show="toolsEditForm.toolName.$error.maxlength && submitted">工具名称过长</span>
                    	<span style="color: red" ng-show="toolsEditForm.toolName.$error.pattern && submitted">工具名称只能输入数字、字母、中文、空格、下划线</span>
                    	<span style="color: red" ng-show="toolsAddForm.toolName.$error.unique">工具名称已存在</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" >类型</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <code-type class="seletc_bor" base-code="toolType" name="toolTypeId" required ng-model='tools.toolTypeId' ng-disabled="false" is-fuzzy="true"></code-type>
                    	<span style="color: red" ng-show="toolsEditForm.toolTypeId.$error.required && submitted">请选择类型</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">描述</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <textarea class="form-control" ng-model="tools.descript"></textarea>
                    </div>
                </div>
               <!--  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">审核人</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" class="form-control" ng-model="tools.auditor">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">审核日期</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" class="form-control" ng-model="tools.auditDate">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">审核状态</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" class="form-control" ng-model="tools.auditStatus">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">创建人id</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" class="form-control" ng-model="tools.createBy">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">创建时间</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" class="form-control" ng-model="tools.createTime">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">最后修改人</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" class="form-control" ng-model="tools.updateBy">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">修改时间</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" class="form-control" ng-model="tools.updateTime">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">是否已删除</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" class="form-control" ng-model="tools.isDeleted">
                    </div>
                </div> -->


                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                        <button type="button" class="btn btn-primary" ng-click="exit()">取消</button>
                        <!--<button type="reset" class="btn btn-primary">重置</button>-->
                        <button type="submit" ng-disabled="saveDisableFlag" class="btn btn-success" ng-click="updateTools()">提交</button>
                    </div>
                </div>
                <div data-ng-include ="'components/glean/tools/tpl/alertLayer.html'"></div>
            </ng-form>
        </div>
    </div>
</div>