
<div style="width:98%;padding :15px 100px ;color: #CCCCCC">
    <div class="x_panel">

            <form class="form-horizontal form-label-left" name="">
            
            	 <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" >工具名称</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input readonly="readonly" type="text"class="form-control" ng-model="tools.toolName"/>
                    </div>
                </div>
            
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" >类型</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input readonly="readonly"  type="text" class="form-control" ng-model="tools.toolTypeName" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">描述</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <textarea readonly="readonly" class="form-control" ng-model="tools.descript"></textarea>
                    </div>
                </div>

                <div class="index_btn1">
                    <span class="submit" ng-click="exit()">退 出</span>
                </div>
            </form>
    </div>
</div>
            <!-- 
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" >大版本ID</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text"class="form-control" ng-model="tools.toolVersionId"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" >小版本</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text"class="form-control" ng-model="tools.subVersion"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">是否已删除</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" class="form-control" ng-model="tools.isDeleted">
                    </div>
                </div>
                
                    <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">审核人</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                       <input readonly="readonly" type="text" class="form-control" ng-model="tools.auditor">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">审核日期</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input readonly="readonly" type="text" class="form-control" ng-model="tools.auditDate">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">审核状态</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input readonly="readonly"  type="text" class="form-control" ng-model="tools.auditStatus">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">创建人id</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input readonly="readonly" type="text" class="form-control" ng-model="tools.createBy">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">创建时间</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input readonly="readonly" type="text" class="form-control" ng-model="tools.createTime">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">最后修改人</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input readonly="readonly" type="text" class="form-control" ng-model="tools.updateBy">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">修改时间</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input readonly="readonly" type="text" class="form-control" ng-model="tools.updateTime">
                    </div>
                </div>
             -->