<!--菜单维护-->
<div class="index_con produce_center">
    <div class="index_list" >
        <div class="index_tit"><h6>代码信息维护</h6></div>
        <ng-form name="menuSaveForm">
            <ul class="list_ul">
                <li><span>代码类型：</span></li>
                <li>
                    <span class="f1" ng-model="codeType" >{{codeType}} </span>
                    <span class="hidden" ng-model="typeDesc" >{{typeDesc}} </span>
                </li>

                <li><span>业务代码：</span></li>
                <li><input type="text" class="fl" ng-model="infogaterCode.codeCode"  maxlength="20" /></li>

                <li><span>代码含义：</span></li>
                <li><input type="text" class="fl"  ng-model="infogaterCode.codeName"  maxlength="20" /></li>

                <li><span>父级代码：</span></li>
                <li>
                    <div class="ui-select">
                        <code-type ng-required="true" class="seletc_bor" ng-change="setUpperCodeTypeList()" base-code="upperCodeType" intype-code="{{codeType}}" ng-model="infogaterCode.upperCode" ng-disabled="false" is-fuzzy="true"></code-type>
                    </div>
                </li>
            </ul>
            <!--按钮-->
            <div class="index_btn1">
                <button  class="submit" ng-disabled="menuSaveDisableFlag" ng-click="saveInfogaterCode()">确 定</button>
                <span class="edit" ng-click="exit()">退 出</span>
            </div>
        </ng-form>
    </div>
    <div data-ng-include ="'components/infogater/infogaterCode/tpl/alertLayer.html'"></div>
</div>