<!--菜单维护-->
<div class="index_con produce_center">
    <div class="index_list" >
        <div class="index_tit"><h6>版本信息维护</h6></div>
        <ng-form name="menuSaveForm">
            <ul class="list_ul">
                <li><span>信息名称：</span></li>
                <li class="font_left">
                    <span>{{infogaterInfo.infoName}}</span>
                </li>
                <li><span>信息类型：</span></li>
                <li class="font_left">
                    <span>{{infogaterInfo.infoTypeName}}</span>
                </li>

                <li><span>版本：</span></li>
                <li><input type="text" class="fl"  ng-model="infogaterInfoList.infoEdition"  maxlength="20" /></li>
                <li class="clear_both">
                    <span>使用说明：</span>
                </li>
                <li>
                    <input type="text"  value="" ng-model="infogaterInfoList.infoSummary" width="200px" maxlength="200" ng-maxlength="200"/>
                </li>
            </ul>
            <!--按钮-->
            <div class="index_btn1">
                <button  class="submit" ng-disabled="menuSaveDisableFlag" ng-click="saveInfogaterInfoList()">确 定</button>
                <span class="edit" ng-click="exit()">退 出</span>
            </div>
        </ng-form>
    </div>
    <div data-ng-include ="'components/infogater/infogaterInfoList/tpl/alertLayer.html'"></div>
</div>