<!--菜单查看-->
<div class="index_con produce_center">
    <div class="index_list" >
        <div class="index_tit"><h6>版本信息查看</h6></div>
            <ul class="list_ul">
                <li><span>信息名称：</span></li>
                <li class="font_left">
                    <span>{{infogaterInfo.infoName}}</span>
                </li>
                <li><span>信息类型：</span></li>
                <li class="font_left">
                    <span>{{infogaterInfo.infoTypeName}}</span>
                </li>

                <li><span>版本：</span></li>
                <li class="font_left">
                    <span class="f1" ng-model ="infogaterInfoList.infoEdition" >{{infogaterInfoList.infoEdition}} </span>
                </li>
                <li class="clear_both">
                    <span>使用说明：</span>
                </li>
                <li class="font_left">
                    <span class="f1" ng-model="infogaterInfoList.infoSummary" width="200px" maxlength="200" ng-maxlength="200">{{infogaterInfoList.infoSummary}} </span>
                </li>
            </ul>
            <!--按钮-->
            <div class="index_btn1">
                <span class="submit" ng-click="exit()">退 出</span>
            </div>
    </div>
</div>